PORT=8080
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/africa_cert?schema=public
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
S3_ENDPOINT=http://localhost:9000
S3_REGION=africa-west-1
S3_BUCKET=africa-certification
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_FORCE_PATH_STYLE=true
PUBLIC_BASE_URL=http://localhost:8080
BLOCKCHAIN_MODE=polygon
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
POLYGON_PRIVATE_KEY=0xyourprivatekey
POLYGON_CONTRACT_ADDRESS=0xyourcontract
POLYGON_INSTITUTION_WALLET=0xyourinstitutionwallet
POLYGON_CHAIN_LABEL=polygon-amoy